<div class="show-notification" style="display: none;">
  <!--login successfull-->
  <div class="alert-login-success" role="alert">
    <p class="alert-content">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893
  c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561
  c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762
  C391.383,193.294,391.735,180.155,383.841,171.838z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487
  c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487
  C470.487,374.272,374.272,470.487,256,470.487z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Đăng nhập thành công!!
    </p>
  </div>
  <!--register successfull-->
  <div class="alert-register-success" role="alert">
    <p class="alert-content">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893
  c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561
  c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762
  C391.383,193.294,391.735,180.155,383.841,171.838z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487
  c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487
  C470.487,374.272,374.272,470.487,256,470.487z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Đăng Ký thành công!!
    </p>
  </div>
  <!--remove item from cart-->
  <div class="alert-removed" role="alert">
    <p class="alert-content">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893
  c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561
  c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762
  C391.383,193.294,391.735,180.155,383.841,171.838z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487
  c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487
  C470.487,374.272,374.272,470.487,256,470.487z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Xóa sản phẩm thành công!!
    </p>
  </div>
  <!--remove item from cart-->
  <div class="alert-updated" role="alert">
    <p class="alert-content">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893
  c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561
  c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762
  C391.383,193.294,391.735,180.155,383.841,171.838z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487
  c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487
  C470.487,374.272,374.272,470.487,256,470.487z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Cập nhật sản phẩm thành công!!
    </p>
  </div>
</div>
<header class="container-fluid header-menu">
  <div class="header-menu-navbar">
    <div class="header-left">
      <div class="logo">
        <a href="">Milcash</a>
      </div>
      <nav class="primary-menu">
        <ul class="menu-list">
          <li><a class="link-hover" [routerLink]="['/']">Trang chủ</a></li>
          <li class="products-list">
            <a class="link-hover" [routerLink]="['/products']">Sản Phẩm</a>
            <ul class="sub-mega-menu">
              <li class="menu-item" *ngFor="let category of categories">
                <a [routerLink]="['/collection', category._id]">
                  <img src="{{ category.image }}">
                  <p>{{ category.name }}</p>
                </a>
              </li>
            </ul>
          </li>
          <li><a class="link-hover" href="">Tin Tức</a></li>
          <li><a class="link-hover" href="">Liên Hệ</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-right">
      <ng-container *ngIf="member; else isNotMember">
        <div class="dropdown">
          <span type="button" class="dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-offset="10,20">
            {{ member }}
          </span>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
            <a class="dropdown-item" href="#"><i class="fa fa-id-card-o" aria-hidden="true"></i> Thông tin tài khoản</a>
            <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng
              xuất </a>
          </div>
        </div>
      </ng-container>
      <!--Modal: Login / Register Form-->
      <ng-template #isNotMember>
        <span id="site-login-handle">
          <div class="cart-control-modal" data-toggle="modal" data-target="#modal_login">
            <span class="cart-menu" aria-hidden="true" title="Đăng nhập">
              <span>Đăng nhập</span>
            </span>
          </div>
          <div id="modal_login" class="modal fixed-left fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-aside" role="document">
              <div class="modal-content modal-login">
                <div class="modal-header">
                  <h5 class="modal-title">Đăng Nhập</h5>
                  <div class="close" data-dismiss="modal" aria-label="Close">
                    <div aria-hidden="true">Đóng <span class="pl-0">x</span></div>
                  </div>
                  <!--login fail-->
                  <div class="alert-login-error" role="alert">
                    <p class="alert-content" id="close-login-error">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                        style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M256,0C114.508,0,0,114.497,0,256c0,141.493,114.497,256,256,256c141.492,0,256-114.497,256-256
                            C512,114.507,397.503,0,256,0z M256,472c-119.384,0-216-96.607-216-216c0-119.385,96.607-216,216-216
                            c119.384,0,216,96.607,216,216C472,375.385,375.393,472,256,472z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M343.586,315.302L284.284,256l59.302-59.302c7.81-7.81,7.811-20.473,0.001-28.284c-7.812-7.811-20.475-7.81-28.284,0
                            L256,227.716l-59.303-59.302c-7.809-7.811-20.474-7.811-28.284,0c-7.81,7.811-7.81,20.474,0.001,28.284L227.716,256
                            l-59.302,59.302c-7.811,7.811-7.812,20.474-0.001,28.284c7.813,7.812,20.476,7.809,28.284,0L256,284.284l59.303,59.302
                            c7.808,7.81,20.473,7.811,28.284,0C351.398,335.775,351.397,323.112,343.586,315.302z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                      {{ message_err ? message_err.err : ''  }}
                    </p>
                  </div>
                  <!---->
                </div>
                <div class="modal-body">
                  <form class="login" [formGroup]="userLogin" focusLogin>
                    <div class="md-form form-sm mb-5">
                      <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                      <input type="email" formControlName="email" class="form-control form-control-sm validate">
                      <label data-error="wrong" data-success="right">Tên đăng nhập</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                      <i class="fa fa-lock prefix" aria-hidden="true"></i>
                      <input type="password" formControlName="password" class="form-control form-control-sm validate">
                      <label data-error="wrong" data-success="right">Mật khẩu</label>
                    </div>
                    <div class="mt-5">
                      <button type="submit" class="button btn-addCart btn-login" (click)="onLogin()">ĐĂNG NHẬP</button>
                    </div>
                    <div class="sign-up">
                      <a type="button" class="button btn-checkout create-account">TẠO TÀI KHOẢN MỚI</a>
                      <div class="forgot mt-4 text-center">
                        <a class="forgot-password" routerLink='forgotpw'> QUÊN MẬT KHẨU?</a>
                      </div>
                    </div>
                  </form>
                  <form class="register" [formGroup]="userRegister" style="display: none;">
                    <div class="md-form form-sm mb-5 form-group" [ngClass]="{ 'has-error': invalidEmail() }">
                      <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                      <input type="email" name="email" class="form-control form-control-sm validate"
                        formControlName="email">
                      <p [ngClass]="{'not-user': user}" *ngIf="user">{{ user.email }}</p>
                      <label>Email</label>
                      <p *ngIf="invalidEmail()" id="email_error">Email không hợp lệ.</p>
                    </div>

                    <div class="md-form form-sm mb-5 form-group" [ngClass]="{ 'has-error': invalidPassword() }">
                      <i class="fa fa-lock prefix" aria-hidden="true"></i>
                      <input type="password" class="form-control form-control-sm validate" formControlName="password">
                      <label data-error="wrong" data-success="right">Mật khẩu</label>
                      <p *ngIf="invalidPassword()" id="password_error">Mật khẩu tối thiểu 5 ký tự</p>
                    </div>

                    <div class="md-form form-sm mb-4 form-group" [ngClass]="{ 'has-error': invalidCPassword() }">
                      <i class="fa fa-lock prefix" aria-hidden="true"></i>
                      <input type="password" class="form-control form-control-sm validate" formControlName="cpassword">
                      <label data-error="wrong" data-success="right">Nhập lại mật khẩu</label>
                      <p *ngIf="invalidCPassword()">Invalid Confirm password.</p>
                    </div>

                    <div class="form-group text-center form-sm mt-2">
                      <button type="submit" class="button btn-addCart" (click)="onRegister()">Đăng ký</button>
                    </div>
                    <div class="sign-up">
                      <div class="forgot mt-4 text-center">
                        <a href="" class="login">ĐÃ CÓ TÀI KHOẢN</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </span>
      </ng-template>
      <span>|</span>

      <span class="icon-search" title="Tìm kiếm">
        <a href="/search">
          <span class="search-menu" aria-hidden="true">
            <svg viewBox="0 0 23.38 23.38" xmlns="http://www.w3.org/2000/svg">
              <g fill="#231f20">
                <path
                  d="m9.78 19.57a9.78 9.78 0 1 1 9.78-9.78 9.79 9.79 0 0 1 -9.78 9.78zm0-17.57a7.78 7.78 0 1 0 7.78 7.78 7.79 7.79 0 0 0 -7.78-7.78z">
                </path>
                <path d="m19.51 17.44h2v6.13h-2z"
                  transform="matrix(.70710678 -.70710678 .70710678 .70710678 -8.49 20.51)"></path>
              </g>
            </svg>
          </span>
        </a>
      </span>

      <span id="site-cart-handle">
        <!--button control cart modal-->
        <div class="cart-control-modal" data-toggle="modal" data-target="#modal_cart">
          <span class="cart-menu" aria-hidden="true" title="Giỏ hàng">
            <svg viewBox="0 0 21.32 23.04" xmlns="http://www.w3.org/2000/svg">
              <g fill="#231f20">
                <path
                  d="m10.67 13.92c-3.43 0-5.56-2.63-5.56-6.86h2c0 1.81.46 4.86 3.56 4.86s3.54-3 3.54-4.86h2c0 4.23-2.12 6.86-5.54 6.86z">
                </path>
                <path
                  d="m19.85 3.45h-1.67v-3.45h-15v3.45h-1.71l-1.47 19.55h21.32zm-14.71-1.45h11v1.45h-11zm-3 19 1.19-15.55h14.67l1.17 15.55z">
                </path>
              </g>
            </svg>
          </span>
          <span class="counter">{{cartItems.totalQty || 0 }}</span>
        </div>
        <!--modal cart-->
        <div id="modal_cart" class="modal fixed-left fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-aside" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Cart <p class="d-inline-block mb-0">
                    ({{ cartItems.totalQty || 0 }})
                  </p>
                </h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                  <div aria-hidden="true">Close <span class="pl-0">x</span></div>
                </div>
              </div>
              <ng-container *ngIf="!cartItems.cart || cartItems.totalQty === 0; else isItem">
                <div class="items-false">
                  <img src="../../../../assets/images/empty-bag.svg" alt="">
                  <h2>Chưa có sản phẩm nào trong giỏ hàng</h2>
                </div>
              </ng-container>
              <ng-template #isItem>
                <div class="items-true">
                  <div class="modal-body">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let item of cartItems.cart | keyvalue">
                          <td class="img"><img src="{{ item.value.item.images[0].url}}" alt=""></td>
                          <td>{{ item.value.item.name }}</td>
                          <td>
                            <span>Qty:</span>
                            <div class="qty-dropdown d-inline-block">
                              <span class="current">
                                <span class="value">{{ item.value.qty }}</span>
                                <span class="icon-dropdown pl-3">
                                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                      <g>
                                        <path d="M506.157,132.386c-7.803-7.819-20.465-7.831-28.285-0.029l-207.73,207.299c-7.799,7.798-20.486,7.797-28.299-0.015
        L34.128,132.357c-7.819-7.803-20.481-7.79-28.285,0.029c-7.802,7.819-7.789,20.482,0.029,28.284l207.701,207.27
        c11.701,11.699,27.066,17.547,42.433,17.547c15.358,0,30.719-5.846,42.405-17.533L506.128,160.67
        C513.946,152.868,513.959,140.205,506.157,132.386z" />
                                      </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                              <div class="qty-options">
                                <ul class="qty-list">
                                  <li class="qty-item" *ngFor="let number of [1,2,3,4,5]"
                                    [ngClass]="{'active': number == item.value.qty}"><a
                                      (click)="updateCat(item.value.item._id, number)"
                                      [ngClass]="{'disable': number == item.value.qty}">{{ number }}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </td>
                          <td>{{ item.value.price | number: '1.0-3' }}đ</td>
                          <td><a class="del-item" (click)="removeItem(item.value.item._id)" title="Xóa sản phẩm"><svg
                                viewBox="0 0 18 18" id="close-mini" xmlns="http://www.w3.org/2000/svg">
                                <path fill="none" d="M0 0h18v18H0z"></path>
                                <path
                                  d="M11.576 5.576L9 8.152 6.424 5.576l-.848.848L8.152 9l-2.576 2.576.848.848L9 9.848l2.576 2.576.848-.848L9.848 9l2.576-2.576z">
                                </path>
                                <path
                                  d="M9 1a8 8 0 100 16A8 8 0 009 1zm0 15c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7z">
                                </path>
                              </svg></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <div class="total">
                      <strong>Tổng tiền:</strong>
                      <span class="font-weight-bold">{{ cartItems.totalPrice | number: '1.0-3' }}đ</span>
                    </div>
                    <a [routerLink]="['/cart']" id="btn-addCart" class="button btn-addCart">XEM GIỎ HÀNG</a>
                    <a [routerLink]="['/checkout']" id="btn-checkout" class="button btn-checkout">MUA HÀNG</a>
                  </div>
                </div>
              </ng-template>

            </div>
          </div> <!-- modal-bialog .// -->
        </div>
        <!-- modal.// -->
      </span>
    </div>
  </div>
</header>
