<div id="topbar" class="flex-center-row">
  <div class="container-fluid">
    <div class="text-center">
      <span class="font-bold text-white">BỘ SƯU TẬP MỚI NHẤT</span>

    </div>
  </div>
</div>
<header class="container-fluid header-menu">
  <div class="header-menu-navbar">
    <div class="header-left">
      <div class="logo">
        <a href="">Milcash</a>
      </div>
      <nav class="primary-menu">
        <ul class="menu-list">
          <li><a [routerLink]="['/']">Trang chủ</a></li>
          <li><a [routerLink]="['/products']">Sản Phẩm</a></li>
          <li><a href="">Tin Tức</a></li>
          <li><a href="">Liên Hệ</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-right">
      <!---->
      <!--Modal: Login / Register Form-->
      <div class="text-center">
        <a href="" class="my-3" data-toggle="modal" data-target="#modalLRForm">Login</a>
      </div>
      <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-user"
                      aria-hidden="true"></i>
                    Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-user-plus"
                      aria-hidden="true"></i>
                    Register</a>
                </li>
              </ul>

              <!-- Tab panels -->
              <div class="tab-content pt-5">
                <!--Panel 7-->
                <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                  <!--Body-->
                  <div class="modal-body mb-1">
                    <div class="md-form form-sm mb-5">
                      <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                      <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                      <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                      <i class="fa fa-lock prefix" aria-hidden="true"></i>
                      <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                      <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                    </div>
                    <div class="text-center">
                      <a href="" class="btn-custom">Log in</a>
                    </div>
                  </div>
                  <!--Footer-->
                  <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                      <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                      <p>Forgot <a href="" class="blue-text">Password?</a></p>
                    </div>
                    <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                      data-dismiss="modal">Close</button>
                  </div>

                </div>
                <!--/.Panel 7-->

                <!--Panel 8-->
                <div class="tab-pane fade" id="panel8" role="tabpanel">

                  <!--Body-->
                  <div class="modal-body">
                    <div class="md-form form-sm mb-5">
                      <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                      <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                      <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                    </div>

                    <div class="md-form form-sm mb-5">
                      <i class="fa fa-lock prefix" aria-hidden="true"></i>
                      <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                      <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                      <i class="fa fa-lock prefix" aria-hidden="true"></i>
                      <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                      <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat
                        password</label>
                    </div>

                    <div class="text-center form-sm mt-2">
                      <button class="btn btn-info">Sign up </button>
                    </div>

                  </div>
                  <!--Footer-->
                  <div class="modal-footer">
                    <div class="options text-right">
                      <p class="pt-1">Already have an account? <a data-toggle="tab" href="#panel7" role="tab"
                          class="blue-text">Log In</a></p>
                    </div>
                    <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                      data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!--/.Panel 8-->
              </div>

            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--//-->
      <span>|</span>

      <span class="icon-search" title="Tìm kiếm">
        <a href="/search">
          <span class="search-menu" aria-hidden="true">
            <svg viewBox="0 0 23.38 23.38" xmlns="http://www.w3.org/2000/svg">
              <g fill="#231f20">
                <path
                  d="m9.78 19.57a9.78 9.78 0 1 1 9.78-9.78 9.79 9.79 0 0 1 -9.78 9.78zm0-17.57a7.78 7.78 0 1 0 7.78 7.78 7.79 7.79 0 0 0 -7.78-7.78z">
                </path>
                <path d="m19.51 17.44h2v6.13h-2z"
                  transform="matrix(.70710678 -.70710678 .70710678 .70710678 -8.49 20.51)"></path>
              </g>
            </svg>
          </span>
        </a>
      </span>

      <span id="site-cart-handle" title="Giỏ hàng">
        <!--button control cart modal-->
        <div class="cart-control-modal" data-toggle="modal" data-target="#modal_aside_right">
          <span class="cart-menu" aria-hidden="true">
            <svg viewBox="0 0 21.32 23.04" xmlns="http://www.w3.org/2000/svg">
              <g fill="#231f20">
                <path
                  d="m10.67 13.92c-3.43 0-5.56-2.63-5.56-6.86h2c0 1.81.46 4.86 3.56 4.86s3.54-3 3.54-4.86h2c0 4.23-2.12 6.86-5.54 6.86z">
                </path>
                <path
                  d="m19.85 3.45h-1.67v-3.45h-15v3.45h-1.71l-1.47 19.55h21.32zm-14.71-1.45h11v1.45h-11zm-3 19 1.19-15.55h14.67l1.17 15.55z">
                </path>
              </g>
            </svg>
          </span>
          <span class="counter">{{ cart.totalQty ? cart.totalQty : 0 }}</span>
        </div>
        <!--modal cart-->
        <div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-aside" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Cart <p class="d-inline-block mb-0">({{ cart.totalQty ? cart.totalQty : 0 }})
                  </p>
                </h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                  <div aria-hidden="true">Close <span class="pl-0">x</span></div>
                </div>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of cart.cart | keyvalue">
                      <td class="img"><img src="{{ item.value.item.images[0].url}}" alt=""></td>
                      <td>{{ item.value.item.name }}</td>
                      <td>Qty: {{ item.value.qty }}</td>
                      <td>{{ item.value.price | number: '1.0-3' }}đ</td>
                      <td><a class="del-item" href=""><svg viewBox="0 0 18 18" id="close-mini"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" d="M0 0h18v18H0z"></path>
                            <path
                              d="M11.576 5.576L9 8.152 6.424 5.576l-.848.848L8.152 9l-2.576 2.576.848.848L9 9.848l2.576 2.576.848-.848L9.848 9l2.576-2.576z">
                            </path>
                            <path
                              d="M9 1a8 8 0 100 16A8 8 0 009 1zm0 15c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7z">
                            </path>
                          </svg></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <div class="total">
                  <strong>Tổng tiền:</strong>
                  <span class="font-weight-bold">{{ cart.totalPrice | number: '1.0-3' }}đ</span>
                </div>
                <a href="" class="button btn-checkout">MUA HÀNG</a>
                <a href="" class="button btn-addCart">XEM GIỎ HÀNG</a>
              </div>
            </div>
          </div> <!-- modal-bialog .// -->
        </div> <!-- modal.// -->
      </span>
    </div>
  </div>
</header>
