<div id="topbar" class="flex-center-row">
  <div class="container-fluid">
    <div class="text-center">
      <span class="font-bold text-white">BỘ SƯU TẬP MỚI NHẤT</span>

    </div>
  </div>
</div>
<header class="container-fluid header-menu">
  <div class="header-menu-navbar">
    <div class="header-left">
      <div class="logo">
        <a href="">Milcash</a>
      </div>
      <nav class="primary-menu">
        <ul class="menu-list">
          <li><a [routerLink]="['/']">Trang chủ</a></li>
          <li><a [routerLink]="['/products']">Sản Phẩm</a></li>
          <li><a href="">Tin Tức</a></li>
          <li><a href="">Liên Hệ</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-right">
      <span class="header-account" title="">
        <a href="/account/login">
          Đăng nhập
        </a>
      </span>
      <span class="header-account" title="">
        <a href="/account/register">
          Đăng ký
        </a>
      </span>

      <span>|</span>

      <span class="icon-search" title="Tìm kiếm">
        <a href="/search">
          <span class="search-menu" aria-hidden="true">
            <svg viewBox="0 0 23.38 23.38" xmlns="http://www.w3.org/2000/svg">
              <g fill="#231f20">
                <path
                  d="m9.78 19.57a9.78 9.78 0 1 1 9.78-9.78 9.79 9.79 0 0 1 -9.78 9.78zm0-17.57a7.78 7.78 0 1 0 7.78 7.78 7.79 7.79 0 0 0 -7.78-7.78z">
                </path>
                <path d="m19.51 17.44h2v6.13h-2z"
                  transform="matrix(.70710678 -.70710678 .70710678 .70710678 -8.49 20.51)"></path>
              </g>
            </svg>
          </span>
        </a>
      </span>

      <span id="site-cart-handle" title="Giỏ hàng">
        <a href="/cart">
          <span class="cart-menu" aria-hidden="true">
            <svg viewBox="0 0 21.32 23.04" xmlns="http://www.w3.org/2000/svg">
              <g fill="#231f20">
                <path
                  d="m10.67 13.92c-3.43 0-5.56-2.63-5.56-6.86h2c0 1.81.46 4.86 3.56 4.86s3.54-3 3.54-4.86h2c0 4.23-2.12 6.86-5.54 6.86z">
                </path>
                <path
                  d="m19.85 3.45h-1.67v-3.45h-15v3.45h-1.71l-1.47 19.55h21.32zm-14.71-1.45h11v1.45h-11zm-3 19 1.19-15.55h14.67l1.17 15.55z">
                </path>
              </g>
            </svg>
          </span>
          <span class="counter">0</span>
        </a>
      </span>
    </div>
  </div>
</header>
