.container-fluid {
  background: #f2f3f7;
  .container-content {
    .products-title {
      padding-top: 50px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
.my-pagination::ng-deep .ngx-pagination {
  li {
    border: 1px solid #000;
  }
  .pagination-previous {
    &::before {
      content: "";
      margin-right: 0;
      display: initial;
    }
    a {
      &::before {
        content: "";
        margin-right: 0;
        display: initial;
      }
    }
  }
  .pagination-next {
    &::after {
      content: "";
      margin-left: 0;
      display: initial;
    }
    a {
      &::after {
        content: "";
        margin-left: 0;
        display: initial;
      }
    }
  }
  .current {
    background: #000 !important;
  }
}
