<div class="container-fluid">
  <div class="container-content">
    <div class="products-title">
      <h1>Tất cả các sản phẩm</h1>
    </div>
    <div class="row">
      <div class="product-search w-100 d-flex justify-content-between align-items-center mb-5">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
          <div class="categories">
            <select class="custom-select custom-select-sm" [(ngModel)]="categorySelected">
              <option value="undefined">Tất cả các sản phẩm</option>
              <option value="{{ category._id }}" *ngFor="let category of categories">{{ category.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
          <div class="search d-flex">
            <input class="form-control" type="text" name="q" placeholder="Tìm kiếm sản phẩm..." [(ngModel)]="name" />
            <button class="btn btn-primary ml-1" type="button">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="products-list">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"
          *ngFor="let product of products | filter: name : categorySelected | paginate : {id : 'panigation', itemsPerPage :itemsPerPage,currentPage:currentPage,totalItems:totalItems }">
          <app-product-item [productItem]="product"></app-product-item>
        </div>
      </div>
      <div class="control text-center mt-5 pb-3">
        <pagination-controls class="my-pagination" id="panigation" (pageChange)="pageChanged($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
