<div class="show-notification" style="display: none;">
  <!--login successfull-->
  <div class="alert-login-success" role="alert">
    <p class="alert-content">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893
  c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561
  c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762
  C391.383,193.294,391.735,180.155,383.841,171.838z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487
  c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487
  C470.487,374.272,374.272,470.487,256,470.487z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Đăng nhập thành công!!
    </p>
  </div>
  <!--register successfull-->
  <div class="alert-register-success" role="alert">
    <p class="alert-content">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893
  c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561
  c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762
  C391.383,193.294,391.735,180.155,383.841,171.838z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487
  c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487
  C470.487,374.272,374.272,470.487,256,470.487z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Đăng Ký thành công!!
    </p>
  </div>
  <!--remove item from cart-->
  <div class="alert-removed" role="alert">
    <p class="alert-content">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893
  c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561
  c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762
  C391.383,193.294,391.735,180.155,383.841,171.838z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487
  c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487
  C470.487,374.272,374.272,470.487,256,470.487z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Xóa sản phẩm thành công!!
    </p>
  </div>
  <!--remove item from cart-->
  <div class="alert-updated" role="alert">
    <p class="alert-content">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893
  c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561
  c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762
  C391.383,193.294,391.735,180.155,383.841,171.838z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487
  c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487
  C470.487,374.272,374.272,470.487,256,470.487z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Cập nhật sản phẩm thành công!!
    </p>
  </div>
  <!--update info user successfull-->
  <div class="alert-update-success" role="alert">
    <p class="alert-content">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893
  c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561
  c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762
  C391.383,193.294,391.735,180.155,383.841,171.838z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487
  c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487
  C470.487,374.272,374.272,470.487,256,470.487z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Cập nhật thông tin thành công!!
    </p>
  </div>
  <!--check user when forgot password-->
  <div class="alert-forgot-error" role="alert">
    <p class="alert-content" id="close-login-error">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M256,0C114.508,0,0,114.497,0,256c0,141.493,114.497,256,256,256c141.492,0,256-114.497,256-256
            C512,114.507,397.503,0,256,0z M256,472c-119.384,0-216-96.607-216-216c0-119.385,96.607-216,216-216
            c119.384,0,216,96.607,216,216C472,375.385,375.393,472,256,472z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M343.586,315.302L284.284,256l59.302-59.302c7.81-7.81,7.811-20.473,0.001-28.284c-7.812-7.811-20.475-7.81-28.284,0
            L256,227.716l-59.303-59.302c-7.809-7.811-20.474-7.811-28.284,0c-7.81,7.811-7.81,20.474,0.001,28.284L227.716,256
            l-59.302,59.302c-7.811,7.811-7.812,20.474-0.001,28.284c7.813,7.812,20.476,7.809,28.284,0L256,284.284l59.303,59.302
            c7.808,7.81,20.473,7.811,28.284,0C351.398,335.775,351.397,323.112,343.586,315.302z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Tên đăng nhập không tồn tại
    </p>
  </div>
  <!--check reset password-->
  <div class="alert-resetpw-error" role="alert">
    <p class="alert-content" id="close-login-error">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M256,0C114.508,0,0,114.497,0,256c0,141.493,114.497,256,256,256c141.492,0,256-114.497,256-256
            C512,114.507,397.503,0,256,0z M256,472c-119.384,0-216-96.607-216-216c0-119.385,96.607-216,216-216
            c119.384,0,216,96.607,216,216C472,375.385,375.393,472,256,472z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M343.586,315.302L284.284,256l59.302-59.302c7.81-7.81,7.811-20.473,0.001-28.284c-7.812-7.811-20.475-7.81-28.284,0
            L256,227.716l-59.303-59.302c-7.809-7.811-20.474-7.811-28.284,0c-7.81,7.811-7.81,20.474,0.001,28.284L227.716,256
            l-59.302,59.302c-7.811,7.811-7.812,20.474-0.001,28.284c7.813,7.812,20.476,7.809,28.284,0L256,284.284l59.303,59.302
            c7.808,7.81,20.473,7.811,28.284,0C351.398,335.775,351.397,323.112,343.586,315.302z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Lỗi đường dẫn hoặc email hết hạn
    </p>
  </div>
</div>
<header class="container-fluid header-menu">
  <div class="header-menu-navbar">
    <div class="header-left">
      <div class="logo">
        <a href=""><img src="../../../../assets/images/logo.png" alt=""></a>
      </div>
      <nav class="primary-menu">
        <ul class="menu-list">
          <li><a class="link-hover" [routerLink]="['/']">Trang chủ</a></li>
          <li class="products-list">
            <a class="link-hover" [routerLink]="['/products']">Sản Phẩm</a>
            <ul class="sub-mega-menu">
              <li class="menu-item" *ngFor="let category of categories">
                <a [routerLink]="['/collection', category._id]">
                  <img src="{{ category.image }}">
                  <p>{{ category.name }}</p>
                </a>
              </li>
            </ul>
          </li>
          <li><a class="link-hover" href="">Tin Tức</a></li>
          <li><a class="link-hover" routerLink="/contact">Liên Hệ</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-right">
      <ng-container *ngIf="member; else isNotMember">
        <div class="dropdown">
          <span role="button" class="dropdown-toggle font-weight-bold" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-offset="0,20">
            {{ member.name }}
          </span>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <a class="dropdown-item" [routerLink]="['/my-account', member.id]"><i class="fa fa-id-card-o"
                aria-hidden="true"></i> Thông tin tài
              khoản</a>
            <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>
              Đăng
              xuất </a>
          </div>
        </div>
      </ng-container>
      <!--Modal: Login / Register Form-->
      <ng-template #isNotMember>
        <span id="site-login-handle">
          <div class="cart-control-modal" data-toggle="modal" data-target="#modal_login">
            <span class="cart-menu" aria-hidden="true" title="Đăng nhập">
              <span class="font-weight-bold">Đăng nhập</span>
            </span>
          </div>
        </span>
      </ng-template>
      <span>|</span>

      <span class="icon-search" title="Tìm kiếm">
        <span class="search-menu" id="seach_header" aria-hidden="true">
          <svg viewBox="0 0 23.38 23.38" xmlns="http://www.w3.org/2000/svg">
            <g fill="#231f20">
              <path
                d="m9.78 19.57a9.78 9.78 0 1 1 9.78-9.78 9.79 9.79 0 0 1 -9.78 9.78zm0-17.57a7.78 7.78 0 1 0 7.78 7.78 7.79 7.79 0 0 0 -7.78-7.78z">
              </path>
              <path d="m19.51 17.44h2v6.13h-2z"
                transform="matrix(.70710678 -.70710678 .70710678 .70710678 -8.49 20.51)"></path>
            </g>
          </svg>
        </span>
        <input type="text" name="search" id="input_search" class="search-field" placeholder="Tìm kiếm...">
      </span>

      <span id="site-cart-handle">
        <!--button control cart modal-->
        <div class="cart-control-modal" data-toggle="modal" data-target="#modal_cart">
          <span class="cart-menu" aria-hidden="true" title="Giỏ hàng">
            <svg viewBox="0 0 21.32 23.04" xmlns="http://www.w3.org/2000/svg">
              <g fill="#231f20">
                <path
                  d="m10.67 13.92c-3.43 0-5.56-2.63-5.56-6.86h2c0 1.81.46 4.86 3.56 4.86s3.54-3 3.54-4.86h2c0 4.23-2.12 6.86-5.54 6.86z">
                </path>
                <path
                  d="m19.85 3.45h-1.67v-3.45h-15v3.45h-1.71l-1.47 19.55h21.32zm-14.71-1.45h11v1.45h-11zm-3 19 1.19-15.55h14.67l1.17 15.55z">
                </path>
              </g>
            </svg>
          </span>
          <span class="counter">{{cartItems?.totalQty || 0 }}</span>
        </div>
      </span>
    </div>
  </div>
  <!--modal cart-->
  <div id="modal_cart" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cart <p class="d-inline-block mb-0">
              ({{ cartItems?.totalQty || 0 }})
            </p>
          </h5>
          <div class="close" data-dismiss="modal" aria-label="Close">
            <div aria-hidden="true">Close <span class="pl-0">x</span></div>
          </div>
        </div>
        <ng-container *ngIf="!cartItems?.cart || cartItems.totalQty === 0; else isItem">
          <div class="items-false">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 394.404 394.404" style="enable-background:new 0 0 394.404 394.404;"
              xml:space="preserve">
              <g>
                <g>
                  <path d="M354.045,0c-0.081,0-0.162,0.001-0.244,0.004H75.562c-4.418,0-8,3.582-8,8v20.16l-31.44,20
c-2.296,1.434-3.711,3.933-3.76,6.64v331.6c0,4.418,3.582,8,8,8h265.44c2.812-0.045,5.394-1.564,6.8-4l20.48-34.32h20.96
c4.418,0,8-3.582,8-8V8.004C362.044,3.585,358.464,0.002,354.045,0z M48.362,378.484v-315.6h249.44l0.08,315.6H48.362z
M294.362,26.324c-3.901,1.753-5.733,6.263-4.16,10.24l4.16,10.32H67.882l12-7.6c2.289-1.469,3.675-4,3.68-6.72v-16.56h233.52
L294.362,26.324z M345.802,340.404l-17.52-0.32c-2.841,0.017-5.46,1.54-6.88,4l-7.6,13.12V54.884
c0.002-1.013-0.188-2.018-0.56-2.96l-5.6-14.08l38.16-17.44V340.404z" />
                </g>
              </g>
              <g>
                <g>
                  <path d="M242.602,91.204h-30.24c-4.418,0-8,3.582-8,8s3.582,8,8,8h7.12v55.28c1.064,25.604-18.83,47.222-44.434,48.286
c-25.604,1.064-47.222-18.83-48.286-44.434c-0.053-1.284-0.053-2.569,0-3.853v-55.28h7.12c4.418,0,8-3.582,8-8s-3.582-8-8-8
h-30.24c-4.418,0-8,3.582-8,8s3.582,8,8,8h7.12v55.28c-1.234,34.44,25.686,63.36,60.126,64.594
c34.44,1.234,63.36-25.686,64.594-60.126c0.053-1.489,0.053-2.979,0-4.468v-55.28h7.12c4.418,0,8-3.582,8-8
S247.02,91.204,242.602,91.204z" />
                </g>
              </g>
            </svg>
            <h2>Chưa có sản phẩm nào trong giỏ hàng</h2>
          </div>
        </ng-container>
        <ng-template #isItem>
          <div class="items-true">
            <div class="modal-body">
              <table class="table">
                <tbody>
                  <tr *ngFor="let item of cartItems.cart | keyvalue">
                    <td class="img"><img src="{{ item.value.item.images[0].url}}" alt=""></td>
                    <td>{{ item.value.item.name }}</td>
                    <td>
                      <span>Qty</span>
                      <div class="qty-dropdown d-inline-block">
                        <span class="current">
                          <span class="value">{{ item.value.qty }}</span>
                          <span class="icon-dropdown pl-3">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                              style="enable-background:new 0 0 512 512;" xml:space="preserve">
                              <g>
                                <g>
                                  <path d="M506.157,132.386c-7.803-7.819-20.465-7.831-28.285-0.029l-207.73,207.299c-7.799,7.798-20.486,7.797-28.299-0.015
  L34.128,132.357c-7.819-7.803-20.481-7.79-28.285,0.029c-7.802,7.819-7.789,20.482,0.029,28.284l207.701,207.27
  c11.701,11.699,27.066,17.547,42.433,17.547c15.358,0,30.719-5.846,42.405-17.533L506.128,160.67
  C513.946,152.868,513.959,140.205,506.157,132.386z" />
                                </g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                            </svg>
                          </span>
                        </span>
                        <div class="qty-options">
                          <ul class="qty-list">
                            <li class="qty-item" *ngFor="let number of [1,2,3,4,5]"
                              [ngClass]="{'active': number == item.value.qty}"><a
                                (click)="updateCat(item.value.item._id, number)"
                                [ngClass]="{'disable': number == item.value.qty}">{{ number }}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                    <td>{{ item.value.price | number: '1.0-3' }}đ</td>
                    <td><a class="del-item" (click)="removeItem(item.value.item._id)" title="Xóa sản phẩm"><svg
                          viewBox="0 0 18 18" id="close-mini" xmlns="http://www.w3.org/2000/svg">
                          <path fill="none" d="M0 0h18v18H0z"></path>
                          <path
                            d="M11.576 5.576L9 8.152 6.424 5.576l-.848.848L8.152 9l-2.576 2.576.848.848L9 9.848l2.576 2.576.848-.848L9.848 9l2.576-2.576z">
                          </path>
                          <path
                            d="M9 1a8 8 0 100 16A8 8 0 009 1zm0 15c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7z">
                          </path>
                        </svg></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <div class="total">
                <strong>Tổng tiền:</strong>
                <span class="font-weight-bold">{{ cartItems.totalPrice | number: '1.0-3' }}đ</span>
              </div>
              <a [routerLink]="['/cart']" id="btn-addCart" class="button btn-addCart">XEM GIỎ HÀNG</a>
              <a [routerLink]="['/checkout']" id="btn-checkout" class="button btn-checkout">MUA HÀNG</a>
            </div>
          </div>
        </ng-template>

      </div>
    </div> <!-- modal-bialog .// -->
  </div>
  <!-- modal.// -->
  <div id="modal_login" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
      <div class="modal-content modal-login">
        <div class="modal-header">
          <h5 class="modal-title">Đăng Nhập</h5>
          <div class="close" data-dismiss="modal" aria-label="Close">
            <div aria-hidden="true">Đóng <span class="pl-0">x</span></div>
          </div>
          <!--login fail-->
          <div class="alert-login-error" role="alert">
            <p class="alert-content" id="close-login-error">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M256,0C114.508,0,0,114.497,0,256c0,141.493,114.497,256,256,256c141.492,0,256-114.497,256-256
                    C512,114.507,397.503,0,256,0z M256,472c-119.384,0-216-96.607-216-216c0-119.385,96.607-216,216-216
                    c119.384,0,216,96.607,216,216C472,375.385,375.393,472,256,472z" />
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M343.586,315.302L284.284,256l59.302-59.302c7.81-7.81,7.811-20.473,0.001-28.284c-7.812-7.811-20.475-7.81-28.284,0
                    L256,227.716l-59.303-59.302c-7.809-7.811-20.474-7.811-28.284,0c-7.81,7.811-7.81,20.474,0.001,28.284L227.716,256
                    l-59.302,59.302c-7.811,7.811-7.812,20.474-0.001,28.284c7.813,7.812,20.476,7.809,28.284,0L256,284.284l59.303,59.302
                    c7.808,7.81,20.473,7.811,28.284,0C351.398,335.775,351.397,323.112,343.586,315.302z" />
                  </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
              </svg>
              {{ message_err ? message_err.err : ''  }}
            </p>
          </div>
          <!---->
        </div>
        <div class="modal-body">
          <form class="login" [formGroup]="userLogin" (ngSubmit)="onLogin()" focusLogin>
            <div class="md-form form-sm mb-5">
              <i class="fa fa-envelope prefix" aria-hidden="true"></i>
              <input type="email" formControlName="email" class="form-control form-control-sm validate">
              <label data-error="wrong" data-success="right">Tên đăng nhập</label>
            </div>

            <div class="md-form form-sm mb-4">
              <i class="fa fa-lock prefix" aria-hidden="true"></i>
              <input type="password" formControlName="password" class="form-control form-control-sm validate">
              <label data-error="wrong" data-success="right">Mật khẩu</label>
            </div>
            <div class="mt-5">
              <button type="submit" class="button btn-addCart btn-login">ĐĂNG NHẬP</button>
            </div>
            <div class="sign-up">
              <button type="button" class="button btn-checkout create-account">TẠO TÀI KHOẢN MỚI</button>
              <div class="forgot mt-4 text-center">
                <a class="forgot-password" routerLink='forgotpw'> QUÊN MẬT KHẨU?</a>
              </div>
            </div>
          </form>
          <form class="register" [formGroup]="userRegister" (ngSubmit)="onRegister()" focusRegister
            style="display: none;">
            <div class="md-form form-sm mb-5 form-group" [ngClass]="{ 'has-error': invalidEmail() }">
              <i class="fa fa-envelope prefix" aria-hidden="true"></i>
              <input type="email" name="email" class="form-control form-control-sm validate" formControlName="email">
              <p [ngClass]="{'not-user': user}" *ngIf="user">{{ user.email }}</p>
              <label>Email</label>
              <p *ngIf="invalidEmail()" id="email_error">Email không hợp lệ.</p>
            </div>

            <div class="md-form form-sm mb-5 form-group" [ngClass]="{ 'has-error': invalidPassword() }">
              <i class="fa fa-lock prefix" aria-hidden="true"></i>
              <input type="password" class="form-control form-control-sm validate" formControlName="password">
              <label data-error="wrong" data-success="right">Mật khẩu</label>
              <p *ngIf="invalidPassword()" id="password_error">Mật khẩu tối thiểu 5 ký tự</p>
            </div>

            <div class="md-form form-sm mb-4 form-group" [ngClass]="{ 'has-error': invalidCPassword() }">
              <i class="fa fa-lock prefix" aria-hidden="true"></i>
              <input type="password" class="form-control form-control-sm validate" formControlName="cpassword">
              <label data-error="wrong" data-success="right">Nhập lại mật khẩu</label>
              <p *ngIf="invalidCPassword()">Invalid Confirm password.</p>
            </div>

            <div class="form-group text-center form-sm mt-2">
              <button type="submit" class="button btn-addCart">Đăng ký</button>
            </div>
            <div class="sign-up">
              <div class="forgot mt-4 text-center">
                <a id="#login" class="login">ĐÃ CÓ TÀI KHOẢN</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div class="header-mobile">
    <div class="container-fluid">
      <div class="menu-hamburger">
        <button class="menu-toggle" data-toggle="modal" data-target="#menu_header">
          <span class="hamburger-box">
            <span class="hamburger-inner">

            </span>
          </span>
        </button>
        <div id="menu_header" class="modal fixed-right fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-menu__header modal-dialog-aside" role="document">
            <div class="modal-content">
              <div class="close" data-dismiss="modal" aria-label="Close">
                <div aria-hidden="true">x</div>
              </div>
              <!---->
              <nav class="mobile-menu">
                <ul class="menu-list">
                  <li class="menu-item__mobile"><a class="menu_link" [routerLink]="['/']">
                      Trang Chủ
                    </a></li>
                  <li class="menu-item__mobile menu-products" id="menu_mobile">
                    <a class="menu_link" [routerLink]="['/products']">Sản Phẩm</a>
                    <ul class="sub-menu">
                      <li class="sub-menu__item" *ngFor="let category of categories">
                        <a class="menu_link" [routerLink]="['/collection', category._id]">{{ category.name }}</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item__mobile"><a class="menu_link" href="">
                      Tin Tức
                    </a></li>
                  <li class="menu-item__mobile"><a class="menu_link" [routerLink]="['/contact']">
                      Liên Hệ
                    </a></li>
                </ul>
              </nav>
              <!--//-->
            </div>
          </div>
        </div>
      </div>
      <a href="" class="logo">
        <img src="../../../../assets/images/logo.png" alt="">
      </a>
      <div class="mobile-cart">
        <ng-container *ngIf="member; else isNotMemberMobile">
          <div class="dropdown">
            <span type="button" class="dropdown-toggle font-weight-bold" id="dropdownMobile" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148
     C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962
     c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216
     h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40
     c59.551,0,108,48.448,108,108S315.551,256,256,256z" />
                  </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
              </svg>
            </span>
            <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMobile">
              <a class="dropdown-item" [routerLink]="['/my-account', member.id]"><i class="fa fa-id-card-o"
                  aria-hidden="true"></i> Thông tin tài
                khoản</a>
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>
                Đăng
                xuất </a>
            </div>
          </div>
        </ng-container>
        <ng-template #isNotMemberMobile>
          <div class="login" data-toggle="modal" data-target="#modal_login">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g>
                <g>
                  <path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148
     C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962
     c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216
     h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40
     c59.551,0,108,48.448,108,108S315.551,256,256,256z" />
                </g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
            </svg>
          </div>
        </ng-template>

        <span class="separator">|</span>
        <span id="site-cart-handle">
          <!--button control cart modal-->
          <div class="cart-control-modal" data-toggle="modal" data-target="#modal_cart">
            <span class="cart-menu" aria-hidden="true" title="Giỏ hàng">
              <svg viewBox="0 0 21.32 23.04" xmlns="http://www.w3.org/2000/svg">
                <g fill="#231f20">
                  <path
                    d="m10.67 13.92c-3.43 0-5.56-2.63-5.56-6.86h2c0 1.81.46 4.86 3.56 4.86s3.54-3 3.54-4.86h2c0 4.23-2.12 6.86-5.54 6.86z">
                  </path>
                  <path
                    d="m19.85 3.45h-1.67v-3.45h-15v3.45h-1.71l-1.47 19.55h21.32zm-14.71-1.45h11v1.45h-11zm-3 19 1.19-15.55h14.67l1.17 15.55z">
                  </path>
                </g>
              </svg>
            </span>
            <span class="counter">{{cartItems?.totalQty || 0 }}</span>
          </div>
          <!--modal cart-->
          <div id="modal_cart" class="modal fixed-left fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-aside" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Cart <p class="d-inline-block mb-0">
                      ({{ cartItems?.totalQty || 0 }})
                    </p>
                  </h5>
                  <div class="close" data-dismiss="modal" aria-label="Close">
                    <div aria-hidden="true">Close <span class="pl-0">x</span></div>
                  </div>
                </div>
                <ng-container *ngIf="!cartItems?.cart || cartItems.totalQty === 0; else isItem">
                  <div class="items-false">

                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 394.404 394.404"
                      style="enable-background:new 0 0 394.404 394.404;" xml:space="preserve">
                      <g>
                        <g>
                          <path d="M354.045,0c-0.081,0-0.162,0.001-0.244,0.004H75.562c-4.418,0-8,3.582-8,8v20.16l-31.44,20
     c-2.296,1.434-3.711,3.933-3.76,6.64v331.6c0,4.418,3.582,8,8,8h265.44c2.812-0.045,5.394-1.564,6.8-4l20.48-34.32h20.96
     c4.418,0,8-3.582,8-8V8.004C362.044,3.585,358.464,0.002,354.045,0z M48.362,378.484v-315.6h249.44l0.08,315.6H48.362z
      M294.362,26.324c-3.901,1.753-5.733,6.263-4.16,10.24l4.16,10.32H67.882l12-7.6c2.289-1.469,3.675-4,3.68-6.72v-16.56h233.52
     L294.362,26.324z M345.802,340.404l-17.52-0.32c-2.841,0.017-5.46,1.54-6.88,4l-7.6,13.12V54.884
     c0.002-1.013-0.188-2.018-0.56-2.96l-5.6-14.08l38.16-17.44V340.404z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M242.602,91.204h-30.24c-4.418,0-8,3.582-8,8s3.582,8,8,8h7.12v55.28c1.064,25.604-18.83,47.222-44.434,48.286
     c-25.604,1.064-47.222-18.83-48.286-44.434c-0.053-1.284-0.053-2.569,0-3.853v-55.28h7.12c4.418,0,8-3.582,8-8s-3.582-8-8-8
     h-30.24c-4.418,0-8,3.582-8,8s3.582,8,8,8h7.12v55.28c-1.234,34.44,25.686,63.36,60.126,64.594
     c34.44,1.234,63.36-25.686,64.594-60.126c0.053-1.489,0.053-2.979,0-4.468v-55.28h7.12c4.418,0,8-3.582,8-8
     S247.02,91.204,242.602,91.204z" />
                        </g>
                      </g>
                    </svg>
                    <h2>Chưa có sản phẩm nào trong giỏ hàng</h2>
                  </div>
                </ng-container>
                <ng-template #isItem>
                  <div class="items-true">
                    <div class="modal-body">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let item of cartItems.cart | keyvalue">
                            <td class="img"><img src="{{ item.value.item.images[0].url}}" alt=""></td>
                            <td>{{ item.value.item.name }}</td>
                            <td>
                              <span>x </span>
                              <div class="qty-dropdown d-inline-block">
                                <span class="current">
                                  <span class="value">{{ item.value.qty }}</span>
                                  <span class="icon-dropdown pl-3">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                      style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                      <g>
                                        <g>
                                          <path d="M506.157,132.386c-7.803-7.819-20.465-7.831-28.285-0.029l-207.73,207.299c-7.799,7.798-20.486,7.797-28.299-0.015
          L34.128,132.357c-7.819-7.803-20.481-7.79-28.285,0.029c-7.802,7.819-7.789,20.482,0.029,28.284l207.701,207.27
          c11.701,11.699,27.066,17.547,42.433,17.547c15.358,0,30.719-5.846,42.405-17.533L506.128,160.67
          C513.946,152.868,513.959,140.205,506.157,132.386z" />
                                        </g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                    </svg>
                                  </span>
                                </span>
                                <div class="qty-options">
                                  <ul class="qty-list">
                                    <li class="qty-item" *ngFor="let number of [1,2,3,4,5]"
                                      [ngClass]="{'active': number == item.value.qty}">
                                      <a (click)="updateCat(item.value.item._id, number)"
                                        [ngClass]="{'disable': number == item.value.qty}">{{ number }}</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </td>
                            <td>{{ item.value.price | number: '1.0-3' }}đ</td>
                            <td><a class="del-item" (click)="removeItem(item.value.item._id)" title="Xóa sản phẩm">
                                <svg viewBox="0 0 18 18" id="close-mini" xmlns="http://www.w3.org/2000/svg">
                                  <path fill="none" d="M0 0h18v18H0z"></path>
                                  <path
                                    d="M11.576 5.576L9 8.152 6.424 5.576l-.848.848L8.152 9l-2.576 2.576.848.848L9 9.848l2.576 2.576.848-.848L9.848 9l2.576-2.576z">
                                  </path>
                                  <path
                                    d="M9 1a8 8 0 100 16A8 8 0 009 1zm0 15c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7z">
                                  </path>
                                </svg>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <div class="total">
                        <strong>Tổng tiền:</strong>
                        <span class="font-weight-bold">{{ cartItems.totalPrice | number: '1.0-3' }}đ</span>
                      </div>
                      <a [routerLink]="['/cart']" id="btn-addCart" class="button btn-addCart">XEM
                        GIỎ HÀNG</a>
                      <a [routerLink]="['/checkout']" id="btn-checkout" class="button btn-checkout">MUA HÀNG</a>
                    </div>
                  </div>
                </ng-template>

              </div>
            </div> <!-- modal-bialog .// -->
          </div>
          <!-- modal.// -->
        </span>
      </div>
    </div>
  </div>
</header>
