<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container-content text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">MILCAH</h6>
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Liên Kết</h6>
        <p>
          <a routerLink="">Trang chủ</a>
        </p>
        <p>
          <a routerLink="/products">Sản phẩm</a>
        </p>
        <p>
          <a routerLink="">Tin tức</a>
        </p>
        <p>
          <a routerLink="/contact">Liên hệ</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Thông Tin</h6>
        <p>
          <i class="fa fa-home" aria-hidden="true"></i> Lê Lợi 1, Bàu Hàm, Thống Nhất, Đồng Nai</p>
        <p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i> shopmilcah@gmail.com</p>
        <p>
          <i class="fa fa-mobile" aria-hidden="true"></i> 0938547691</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-12 col-lg-12">

        <!--Copyright-->
        <p class="text-center">© 2020 Copyright:
          <a href="https://mdbootstrap.com/">
            <strong>Your Website</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
